$body-bg: #CCC;
$text-color: #333;
$brand-primary: #9b59b6;


$black: "#292C33";
$red: "#BF6E7C";
$white: "#95A2BB";
$green: "#88B379";
$yellow: "#D9BD86";
$blue: "#66A5DF";
$magenta: "#C699C5";
$cyan: "#6EC6C6";

$brightBlack: "#484c54";
$brightRed: "#dd8494";
$brightWhite: "#adbcd7";
$brightGreen: "#9dcc8c";
$brightYellow: "#e9cc92";
$brightBlue: "#6cb2f0";
$brightMagenta: "#e8b6e7";
$brightCyan: "#7adada";
